.galleryBig
  .galleryBig__box
    a(href="components/galleryBig/src/but1.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>").galleryBig__boxItem
      img.galleryBig__boxImg(src="components/galleryBig/src/but1.jpg" alt="galeria")
      .galleryBig__boxText model : CW-4573-S1.09-307
    a(href="components/galleryBig/src/but2.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>").galleryBig__boxItem
      img.galleryBig__boxImg(src="components/galleryBig/src/but2.jpg" alt="galeria")
      .galleryBig__boxText model : CW-4573-S1.09-307
    a(href="components/galleryBig/src/but3.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>").galleryBig__boxItem
      img.galleryBig__boxImg(src="components/galleryBig/src/but3.jpg" alt="galeria")
      .galleryBig__boxText model : CW-4573-S1.09-307
    a(href="components/galleryBig/src/but4.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>").galleryBig__boxItem
      img.galleryBig__boxImg(src="components/galleryBig/src/but4.jpg" alt="galeria")
      .galleryBig__boxText model : CW-4573-S1.09-307
    a(href="components/galleryBig/src/but5.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>").galleryBig__boxItem
      img.galleryBig__boxImg(src="components/galleryBig/src/but5.jpg" alt="galeria")
      .galleryBig__boxText model : CW-4573-S1.09-307
    a(href="components/galleryBig/src/but1.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>").galleryBig__boxItem
      img.galleryBig__boxImg(src="components/galleryBig/src/but1.jpg" alt="galeria")
      .galleryBig__boxText model : CW-4573-S1.09-307

  .galleryBig__controllers
    .galleryBig__prev
    .galleryBig__next