.download
  .download__title Pliki do pobrania


  a.download__file(href="#")
    img.download__img(src="components/download/src/pdf.png" alt="pdf")
    .download__box
      .download__fileTitle Folder reklamowy
      .download__fileKb PDF (25 K)
      .download__fileDown >> pobierz <<

  a.download__file(href="#")
    img.download__img(src="components/download/src/pdf.png" alt="pdf")
    .download__box
      .download__fileTitle Cennik - Obuwie męskie
      .download__fileKb PDF (5 K)
      .download__fileDown >> pobierz <<

  a.download__file(href="#")
    img.download__img(src="components/download/src/pdf.png" alt="pdf")
    .download__box
      .download__fileTitle Cennik - Paski
      .download__fileKb PDF (25 K)
      .download__fileDown >> pobierz <<

  a.download__file(href="#")
    img.download__img(src="components/download/src/pdf.png" alt="pdf")
    .download__box
      .download__fileTitle Cennik - Obuwia damskiego
      .download__fileKb PDF (5 K)
      .download__fileDown >> pobierz <<

  a.download__file(href="#")
    img.download__img(src="components/download/src/pdf.png" alt="pdf")
    .download__box
      .download__fileTitle Mapa dojazdu
      .download__fileKb PDF (25 K)
      .download__fileDown >> pobierz <<

  a.download__file(href="#")
    img.download__img(src="components/download/src/pdf.png" alt="pdf")
    .download__box
      .download__fileTitle Cennik - kosmetyki obuwnicze
      .download__fileKb PDF (25 K)
      .download__fileDown >> pobierz <<

  a.download__file(href="#")
    img.download__img(src="components/download/src/pdf.png" alt="pdf")
    .download__box
      .download__fileTitle Cennik = Akcesoria
      .download__fileKb PDF (25 K)
      .download__fileDown >> pobierz <<