.adres
  .adres__box
    img.adres__img(src="components/adres/src/phone.png" alt="email")
    .adres__phoneSm +48
    .adres__phoneBig 600 619 984
  .adres__box
    img.adres__img(src="components/adres/src/mail.png" alt="email")
    a.adres__emailText(href="mailto: biuro@cohpol.waw.pl") biuro@cohpol.waw.pl
