.banner
  .banner__slider
    img.banner__item(src="components/baner/src/baner2.jpg" alt="banner")
    img.banner__item(src="components/baner/src/baner2.jpg" alt="banner")
    img.banner__item(src="components/baner/src/baner2.jpg" alt="banner")
    img.banner__item(src="components/baner/src/baner2.jpg" alt="banner")
    img.banner__item(src="components/baner/src/baner2.jpg" alt="banner")
    img.banner__item(src="components/baner/src/baner2.jpg" alt="banner")

  .banner__controllers
    .banner__prev
    .banner__next