extends _layout.pug

block content
  .container
    .col
      include ../components/top/_top

  .container
    include ../components/nav/_nav2

  .container
    include ../components/galleryBig/_galleryBig

  .container
    include ../components/about/_about
