.gallery
  .gallery__title Galeria zdjęć

  .gallery__box
    a(href="components/gallery/src/but1.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>").gallery__boxItem
      img.gallery__boxImg(src="components/gallery/src/but1.jpg" alt="galeria")
      .gallery__boxText model : CW-4573-S1.09-307
    a(href="components/gallery/src/but2.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>").gallery__boxItem
      img.gallery__boxImg(src="components/gallery/src/but2.jpg" alt="galeria")
      .gallery__boxText model : CW-4573-S1.09-307
    a(href="components/gallery/src/but3.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>").gallery__boxItem
      img.gallery__boxImg(src="components/gallery/src/but3.jpg" alt="galeria")
      .gallery__boxText model : CW-4573-S1.09-307
    a(href="components/gallery/src/but4.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>").gallery__boxItem
      img.gallery__boxImg(src="components/gallery/src/but4.jpg" alt="galeria")
      .gallery__boxText model : CW-4573-S1.09-307
    a(href="components/gallery/src/but5.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>").gallery__boxItem
      img.gallery__boxImg(src="components/gallery/src/but5.jpg" alt="galeria")
      .gallery__boxText model : CW-4573-S1.09-307
    a(href="components/gallery/src/but1.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>").gallery__boxItem
      img.gallery__boxImg(src="components/gallery/src/but1.jpg" alt="galeria")
      .gallery__boxText model : CW-4573-S1.09-307
