.footer
  .container
    .footer__top
      .footer__topLogo
        img.footer__topImg(src="components/footer/src/logo1.png" alt="logo")
      .footer__topLogo
        img.footer__topImg(src="components/footer/src/logo2.png" alt="logo")
      .footer__topLogo
        img.footer__topImg(src="components/footer/src/logo3.png" alt="logo")

    .footer__bot
      .footer__bottom
        .footer__botBox
          a.footer__botLink(href="#") Mapa strony
          a.footer__botLink.-white(href="#") Regulamin użytkowania strony
          a.footer__botLink(href="#") Polityka prywatności

      .footer__bottom
        .footer__prod
          .footer__prodText realizacja
          .footer__prodText.-orange WaWMedia
          .footer__prodText 2014 dla R&K SALONY FIRMOWE