.content
  .content__page
    include ../page/_page

  .content__info
    include ../info/_info

  .content__download
    include ../download/_download

  .content__gallery
    include ../gallery/_gallery