.about
  .about__title O firmie

  .about__content
    .about__box
      .about__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis felis ut neque tincidunt euismod. Nam at tristique dui. Sed ac augue sed leo viverra ultricies. Mauris laoreet quis dolor non malesuada. Maecenas erat enim, placerat nec ante quis, laoreet tempor quam. Mauris placerat, sapien sed volutpat suscipit, nunc ante dictum lorem, vitae suscipit sapien ipsum ac orci. Aliquam pulvinar eros at sollicitudin laoreet. Vivamus tincidunt mattis nisl et pellentesque. Donec a bibendum elit. Cras quis magna vitae dolor sodales ullamcorper non non justo. Aliquam consequat felis a ex varius vestibulum. Ut a lect

    .about__box
      .about__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis felis ut neque tincidunt euismod. Nam at tristique dui. Sed ac augue sed leo viverra ultricies. Mauris laoreet quis dolor non malesuada. Maecenas erat enim, placerat nec ante quis, laoreet tempor quam. Mauris placerat, sapien sed volutpat suscipit, nunc ante dictum lorem, vitae suscipit sapien ipsum ac orci. Aliquam pulvinar eros at sollicitudin laoreet. Vivamus tincidunt mattis nisl et pellentesque. Donec a bibendum elit. Cras quis magna vitae dolor sodales ullamcorper non non justo. Aliquam consequat felis a ex varius vestibulum. Ut a lect
