.menu
  .menu__bars(type="button")
    i.fa.fa-bars(aria-hidden="true")
  .menu__nav
    a.menu__link(href="main.html")
      .menu__navItem.-active O firmie
        .menu__navSubItem
          a.menu__navSubLink(href="main2.html") Obuwie damskie
            .menu__navLinkText &gt
          a.menu__navSubLink(href="#") Obuwie damskie
            .menu__navLinkText &gt
          a.menu__navSubLink(href="#") Obuwie damskie
            .menu__navLinkText &gt
    a.menu__link(href="#")
      .menu__navItem Oferta
        .menu__navSubItem
          a.menu__navSubLink(href="main2.html") Obuwie damskie
            .menu__navLinkText &gt
          a.menu__navSubLink(href="#") Obuwie damskie
            .menu__navLinkText &gt
          a.menu__navSubLink(href="#") Obuwie damskie
            .menu__navLinkText &gt
    a.menu__link(href="#")
      .menu__navItem Kontakt
        .menu__navSubItem
          a.menu__navSubLink(href="main2.html") Obuwie damskie
            .menu__navLinkText &gt
          a.menu__navSubLink(href="#") Obuwie damskie
            .menu__navLinkText &gt
          a.menu__navSubLink(href="#") Obuwie damskie
            .menu__navLinkText &gt